<section class="g">
  <div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped }">
    <h1>{{faceSnap.title|uppercase}}</h1>
    <a routerLink="/faceSnaps">BACK</a>
    <p *ngIf="faceSnap.location"><b>Localisation:</b> {{ faceSnap.location }}</p>
    <p *ngIf="!faceSnap.location">Localisation non spécifiée</p>

    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description}} </p>
    <p>Mise en ligne {{faceSnap.createdAt|date:'d  yyyy MMMM, HH:mm'}}</p>
    <p>
      <button (click)="onSnap()">{{snapButtonText}}</button>
      <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">💛{{faceSnap.snaps}}</span>
    </p>
  </div >
  <section>


