<section class="about">
  <h1>À propos de SnapFace</h1>
  <p>SnapFace est une plateforme sociale qui vous permet de partager vos moments spéciaux avec vos proches.</p>
  <div class="team">
    <h2>Notre équipe</h2>
    <div class="team-members">
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_WZOhPFRmLT6TGDx2dwfhVz3GhhpKflO3dQ&amp;s" alt="Membre 1">
        <h3><b>LOUIS GILDAS</b></h3>
        <p>Développeuse Frontend</p>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8xYKoCaVIxB3497DLTyR6nYdEigITO7wbEw&amp;s" alt="Membre 2">
        <h3><b>CECILIA NGA</b></h3>
        <p>Développeuse Backend</p>
      </div>
      <div class="member">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMhedRqyNVzU3Z7gopwLD-4H_YpFBmzIIoAA&amp;s" alt="Membre 3">
        <h3><b>YVAN OWONO</b></h3>
        <p>Designer UI/UX</p>
      </div>
    </div>
  </div>
</section>


